{% extends "base.html" %}

{% block content %}

  {% if buggy %}
    <h1>Editing buggy #{{ buggy['id'] }}</h1>
  {% else %}
    <h1>Make buggy</h1>
  {% endif %}

  <h2>{{msg}}</h2>

  <form action="/new" method="post">
    <input type="hidden" name="buggy_id" value={{ buggy['id'] }}  >
    <label for="qty_wheels">Number of wheels:</label>
    <input type="number" name="qty_wheels" {% if buggy %} value={{ buggy['qty_wheels'] }} {% else %} value=4 {% endif %} />
    <br>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="number" name="qty_tyres" {% if buggy %} value={ buggy['qty_tyres'] }} {% else %} value=4 {% endif %} />
    <br>
    <label for="type_tyres">Type of tyres:</label>
    <select id="tyre" name="type_tyres">
      <option {% if buggy['type_tyres'] == 'knobbly' %} selected {% endif %} value="knobbly">knobbly</option>
      <option {% if buggy['type_tyres'] == 'slick' or not buggy %} selected {% endif %} value="slick">slick</option>
      <option {% if buggy['type_tyres'] == 'steelband' %} selected {% endif %} value="steelband">steelband</option>
      <option {% if buggy['type_tyres'] == 'reactive' %} selected {% endif %} value="reactive">reactive</option>
      <option {% if buggy['type_tyres'] == 'maglev' %} selected {% endif %} value="maglev">maglev</option>
    </select>
    <br>
    <label for="flag_color">Flag color:</label>
    <select id="color" name="flag_color">
      <option {% if buggy['flag_color'] == 'Red' %} selected {% endif %} value="Red">Red</option>
      <option {% if buggy['flag_color'] == 'Blue' %} selected {% endif %} value="Blue">Blue</option>
      <option {% if buggy['flag_color'] == 'Green' %} selected {% endif %} value="Green">Green</option>
      <option {% if buggy['flag_color'] == 'Purple' %} selected {% endif %} value="Purple">Purple</option>
      <option {% if buggy['flag_color'] == 'Pink' %} selected {% endif %} value="Pink">Pink</option>
      <option {% if buggy['flag_color'] == 'Orange' %} selected {% endif %} value="Orange">Orange</option>
      <option {% if buggy['flag_color'] == 'Yellow' %} selected {% endif %} value="Yellow">Yellow</option>
      <option {% if buggy['flag_color'] == 'Black' %} selected {% endif %} value="Black">Black</option>
      <option {% if buggy['flag_color'] == 'White' or not buggy %} selected {% endif %} value="White">White</option>
    </select>
    <br>
    <label for="flag_color_secondary">Secondary flag color:</label>
    <select id="color" name="flag_color_secondary">
      <option {% if buggy['flag_color_secondary'] == 'Red' %} selected {% endif %} value="Red">Red</option>
      <option {% if buggy['flag_color_secondary'] == 'Blue' %} selected {% endif %} value="Blue">Blue</option>
      <option {% if buggy['flag_color_secondary'] == 'Green' %} selected {% endif %} value="Green">Green</option>
      <option {% if buggy['flag_color_secondary'] == 'Purple' %} selected {% endif %} value="Purple">Purple</option>
      <option {% if buggy['flag_color_secondary'] == 'Pink' %} selected {% endif %} value="Pink">Pink</option>
      <option {% if buggy['flag_color_secondary'] == 'Orange' %} selected {% endif %} value="Orange">Orange</option>
      <option {% if buggy['flag_color_secondary'] == 'Yellow' %} selected {% endif %} value="Yellow">Yellow</option>
      <option {% if buggy['flag_color_secondary'] == 'Black' or not buggy %} selected {% endif %} value="Black">Black</option>
      <option {% if buggy['flag_color_secondary'] == 'White' %} selected {% endif %} value="White">White</option>
    </select>
    <br>
    <label for="flag_pattern">Flag pattern:</label>
    <select id="color" name="flag_pattern">
      <option {% if buggy['flag_pattern'] == 'plain' or not buggy %} selected {% endif %} value="plain">Plain pattern</option>
      <option {% if buggy['flag_pattern'] == 'vstripe' %} selected {% endif %} value="vstripe">Vertical stripe</option>
      <option {% if buggy['flag_pattern'] == 'hstripe' %} selected {% endif %} value="hstripe">Horizontal stripe</option>
      <option {% if buggy['flag_pattern'] == 'dstripe' %} selected {% endif %} value="dstripe">Diagonal stripe</option>
      <option {% if buggy['flag_pattern'] == 'checker' %} selected {% endif %} value="checker">Checker</option>
      <option {% if buggy['flag_pattern'] == 'spot' %} selected {% endif %} value="spot">Spot</option>
    </select>
    <br>
    <label for="power_type">Primary motive power:</label>
    <select id="power" name="power_type">
      <option {% if buggy['power_type'] == 'petrol' or not buggy %} selected {% endif %} value="petrol">petrol</option>
      <option {% if buggy['power_type'] == 'fusion' %} selected {% endif %} value="fusion">fusion</option>
      <option {% if buggy['power_type'] == 'steam' %} selected {% endif %} value="steam">steam</option>
      <option {% if buggy['power_type'] == 'bio' %} selected {% endif %} value="bio">bio</option>
      <option {% if buggy['power_type'] == 'electric' %} selected {% endif %} value="electric">electric</option>
      <option {% if buggy['power_type'] == 'rocket' %} selected {% endif %} value="rocket">rocket</option>
      <option {% if buggy['power_type'] == 'hamster' %} selected {% endif %} value="hamster">hamster</option>
      <option {% if buggy['power_type'] == 'thermo' %} selected {% endif %} value="thermo">thermo</option>
      <option {% if buggy['power_type'] == 'solar' %} selected {% endif %} value="solar">solar</option>
      <option {% if buggy['power_type'] == 'wind' %} selected {% endif %} value="wind">wind</option>
    </select>
    <br>
    <label for="power_units">Primary motive power units:</label>
    <input type="number" name="power_units" {% if buggy %} value={{ buggy['power_units'] }} {% else %} value=1 {% endif %} />
    <br>
    <label for="aux_power_type">Auxillary motive power:</label>
    <select id="aux power" name="aux_power_type">
      <option {% if buggy['aux_power_type'] == 'none' or not buggy %} selected {% endif %} value="none">none</option>
      <option {% if buggy['aux_power_type'] == 'petrol' %} selected {% endif %} value="petrol">petrol</option>
      <option {% if buggy['aux_power_type'] == 'fusion' %} selected {% endif %} value="fusion">fusion</option>
      <option {% if buggy['aux_power_type'] == 'steam' %} selected {% endif %} value="steam">steam</option>
      <option {% if buggy['aux_power_type'] == 'bio' %} selected {% endif %} value="bio">bio</option>
      <option {% if buggy['aux_power_type'] == 'electric' %} selected {% endif %} value="electric">electric</option>
      <option {% if buggy['aux_power_type'] == 'rocket' %} selected {% endif %} value="rocket">rocket</option>
      <option {% if buggy['aux_power_type'] == 'hamster' %} selected {% endif %} value="hamster">hamster</option>
      <option {% if buggy['aux_power_type'] == 'thermo' %} selected {% endif %} value="thermo">thermo</option>
      <option {% if buggy['aux_power_type'] == 'solar' %} selected {% endif %} value="solar">solar</option>
      <option {% if buggy['aux_power_type'] == 'wind' %} selected {% endif %} value="wind">wind</option>
    </select>
    <br>
    <label for="aux_power_units">Auxillary motive power units:</label>
    <input type="number" name="aux_power_units" {% if buggy %} value={{ buggy['aux_power_units'] }} {% else %} value=0 {% endif %} />
    <br>
    <label for="hamster_booster">Hamster Booster:</label>
    <input type="number" name="hamster_booster" {% if buggy %} value={{ buggy['hamster_booster'] }} {% else %} value=0 {% endif %} />
    <br>
    <label for="armour">Armour:</label>
    <select id="armour" name="armour">
      <option {% if buggy['armour'] == 'none' or not buggy %} selected {% endif %} value="none">none</option>
      <option {% if buggy['armour'] == 'wood' %} selected {% endif %} value="wood">wood</option>
      <option {% if buggy['armour'] == 'aluminium' %} selected {% endif %} value="aluminium">aluminium</option>
      <option {% if buggy['armour'] == 'thinsteel' %} selected {% endif %} value="thinsteel">thinsteel</option>
      <option {% if buggy['armour'] == 'thicksteel' %} selected {% endif %} value="thicksteel">thicksteel</option>
      <option {% if buggy['armour'] == 'titanium' %} selected {% endif %} value="titanium">titanium</option>
    </select>
    <br>
    <label for="attack">Attack:</label>
    <select id="attack" name="attack">
      <option {% if buggy['attack'] == 'none' or not buggy %} selected {% endif %} value="none">none</option>
      <option {% if buggy['attack'] == 'spike' %} selected {% endif %} value="spike">spike</option>
      <option {% if buggy['attack'] == 'flame' %} selected {% endif %} value="flame">flame</option>
      <option {% if buggy['attack'] == 'charge' %} selected {% endif %} value="charge">charge</option>
      <option {% if buggy['attack'] == 'biohazard' %} selected {% endif %} value="biohazard">biohazard</option>
    </select>
    <br>
    <label for="qty_attacks">Number of attacks:</label>
    <input type="number" name="qty_attacks" {% if buggy %} value={{ buggy['qty_attacks'] }} {% else %} value=0 {% endif %} />
    <br>
    <label for="fireproof">Fireproof:</label>
    <select id="fireproof" name="fireproof">
      <option {% if buggy['fireproof'] == 'false' or not buggy %} selected {% endif %} value="false">false</option>
      <option {% if buggy['fireproof'] == 'true' %} selected {% endif %} value="true">true</option>
    </select>
    <br>
    <label for="insulated">Insulated:</label>
    <select id="insulated" name="insulated">
      <option {% if buggy['insulated'] == 'false' or not buggy %} selected {% endif %} value="false">false</option>
      <option {% if buggy['insulated'] == 'true' %} selected {% endif %} value="true">true</option>
    </select>
    <br>
    <label for="antibiotic">Antibiotic:</label>
    <select id="antibiotic" name="antibiotic">
      <option {% if buggy['antibiotic'] == 'false' or not buggy %} selected {% endif %} value="false">false</option>
      <option {% if buggy['antibiotic'] == 'true' %} selected {% endif %} value="true">true</option>
    </select>
    <br>
    <label for="banging">Banging sound system:</label>
    <select id="banging" name="banging">
      <option {% if buggy['banging'] == 'false' or not buggy %} selected {% endif %} value="false">false</option>
      <option {% if buggy['banging'] == 'true' %} selected {% endif %} value="true">true</option>
    </select>
    <br>
    <label for="algo">Race computer algorithm:</label>
    <select id="algo" name="algo">
      <option {% if buggy['algo'] == 'defensive' %} selected {% endif %} value="defensive">defensive</option>
      <option {% if buggy['algo'] == 'steady' or not buggy %} selected {% endif %} value="steady">steady</option>
      <option {% if buggy['algo'] == 'offensive' %} selected {% endif %} value="offensive">offensive</option>
      <option {% if buggy['algo'] == 'titfortat' %} selected {% endif %} value="titfortat">titfortat</option>
      <option {% if buggy['algo'] == 'random' %} selected {% endif %} value="random">random</option>
      <option {% if buggy['algo'] == 'buggy' %} selected {% endif %} value="buggy">buggy</option>
    </select>
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
